.navbar{
    background-color: #3d7c3d;
}

@media screen and (max-width:990px){
    .navbar-logo{
        margin:auto;
    }
    .nav-link{
        text-align:center;
        width: 50%;
        margin-top: 10px;
        margin-bottom:10px;
        margin-left:auto;
        margin-right:auto;
        align-items: center;
    }
}

@media screen and (min-width:990px){
    .nav-link{
        margin:20px;
    }
}

.nav-link{ 
    border-radius:30px;
    background-color: #1a361a;
    color: white !important;
}

.nav-link:hover{
    background-color: orange;
}