*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section
{
  margin: 40px 0 0;
}
section:nth-child(1)
{
  margin: 0;
}
h1
{
  font-size: 45px !important;
}
h2
{
  font-size: 38px !important;
}
h3
{
  font-size: 24px !important;
}
h4
{
  font-size: 21px !important;
}
p, a, label
{
  font-size: 18px;
}

@keyframes fadein{
  from {opacity:0%;}
  to {opacity:100%;}
}

.home-carousel{
  animation-duration:1.5s;
  animation-name:fadein;
}

.video-container
{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-top:10px;
  margin-bottom:10px;  
}
.video-container iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
footer
{
  padding: 20px;
  background-color: #069754;
}

button.search
{
	margin-left: 5px;
	border: 0;
	padding: 4px 8px;
	color: #fff;
	font-weight: bold;
	background-color: #069754;
	border-radius: 5px;
}
.row > div
{
	padding: 0 10px;
}
.accomm-card
{
	height: 400px;
	margin-bottom: 20px;
	border: 1px solid #ded596;
	border-radius: 5px;
	background-color: #fbf4c4;
}
.card-details
{
	padding: 8px 12px;
}
.image
{
	border-left: 10px solid #fff;
	background-color: #fff;
}
.card-details h2
{
	font-size: 30px;
}
.standout
{
	text-shadow: 1px 1px 1px #fff;
}
p:nth-of-type(2) a
{
	word-break: break-all;
}
.count
{
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 100%;
	position: absolute;
	bottom: 15px;
	right: 30px;
	text-align: center;
	font-weight: bold;
	border: 2px solid #069754;
}

.navbar
{
    background-color: #069754;
}
.nav-link
{ 
    border-radius: 5px;
    /*background-color: #1a361a;*/
    color: #fff !important;
}
.nav-link:hover
{
    background-color: orange;
}

.card-container{
  margin:10px;
}

.home-page-card{
  align-items: center;
  padding: 20px;
  margin:10px;
  border: 1px solid #ded596;
  border-radius: 5px;
  background-color:#FBF4C4 ;
  color: black;
  animation-duration:1.5s;
  animation-name:fadein;
}

.card-body{
  text-align:center;
  margin:10px;
  padding:10px;
}

.card-image{
  width:200px;
  border-radius: 50%;
  display:block;
  padding:10px;
  margin: 0 auto;  
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.card-image:hover{
  padding:30px;
}

.home-card-button{
  background-color: #069754;
  color: white;
  text-align:center;
  border-radius: 5px;
  border:0px;
  padding: 10px;
}

.home-card-button:hover{
  background-color:#ffa500 ;
}

@keyframes drop{
  from{height:0vh}
  to{height:50vh}
}
.home-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url(images/Newgrange-Hero.jpg);
  height:50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-duration:1.5s;
  animation-name:fadein, drop;
}

.home-hero-text{
  text-align: center;
  position: relative;
  top:50%;
  left: 50%;
  padding:10px;
  transform: translate(-50%, -50%);
  color: white;
}

.home-hero-text h1{
  font-family: Verdana;
  font-size:150px !important;
}

.home-hero-text h2{
  font-family:Verdana;
  font-size:70px !important;

}

@media only screen and (max-width:1200px){
  .home-hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)), url(images/Newgrange-Hero.jpg);
    height:250px;
  }
  .home-hero-text h1{
    font-size:50px !important;
  }
  .home-hero-text h2{
    font-size:20px !important;
  }
} 

.doyle{  
  z-index:1;
  overflow:hidden;
  position: fixed;
  animation: doyleanimation;
  animation-delay:3s;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes doyleanimation{
  from{
    visibility:hidden;
    right:0%;
    bottom:-50%;
  }
  to{
    visibility:visible;
    bottom:0%;
    right:0%;
  }
}

.doyle-close{
  visibility:hidden;
}

.doyle-button{
  float:right;
}

.home-info-image{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.home-info-text{
  text-align:center;
  padding:20px;
  color:white;
}

.home-info-row{
  background-color:#069754;
}