.App
{
  text-align: center;
}
.App-logo
{
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference)
{
  .App-logo
  {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link
{
  color: #61dafb;
}
@keyframes App-logo-spin
{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section
{
  margin: 40px 0 0;
}
section:nth-child(1)
{
  margin: 0;
}
h1
{
  font-size: 45px !important;
}
h2
{
  font-size: 38px !important;
}
h3
{
  font-size: 24px !important;
}
h4
{
  font-size: 21px !important;
}
p, a, label
{
  font-size: 18px;
}
.video-container
{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom:10px;
}
.video-container iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer
{
  padding: 20px;
  background-color: #069754;
}